!!!
%html(ng-app)/
%meta(charset="UTF-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
%title Timecard
%style [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}
%link(rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon.png")
%link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
%script(src="packages/shadow_dom/shadow_dom.min.js")
%script(src="timecard_main.dart" type="application/dart")
%script(src="packages/browser/dart.js")
%body(app)/

%nav.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{"data-no-turbolink" => "1", :href => "/"} Timecard

    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav(ng-cloak)
        %li
          %a
            %span.text-muted Projects
        %li(ng-if="c.logged_in()")
          %a
            %span.text-muted Me
      %ul.nav.navbar-nav.navbar-right(ng-cloak)
        %li(ng-if="c.logged_in()")
          %a(href="settings") Account settings
        %li(ng-if="c.logged_in()")
          %a(ng-click="c.logout()" href="") Logout
        -#{% for value, key in language_list %}
        -#{% if value != LANGUAGE %}
        -#%li
        -#  %a(href="?l={{ value }}") {{ key }}
        -#{% endif %}
        -#{% endfor %}
        %li(ng-if="!c.logged_in()")
          %a(ng-click="c.login()" href="") Login

.container
  %ng-view.row

%footer(style="margin-top:100px;")
  %div(style="text-align:center;")
    &copy; Timecard
    &nbsp; 2013
    %span(ng-cloak)>-{{ c.year }}
    %span.text-muted(ng-cloak) {{ version }}
