.col-lg-12.col-md-12(app)
  %h2 Edit User
  %edit_user-component(a="a" user="a.user")
  %h2 Service
  %dl
    %dt
      %b Github
    %dd
      %a.btn.btn-default.disabled(href="") Sign in with Github
    %dt
      %b Ruffnote
    %dd
      %a.btn.btn-default.disabled(href="") Sign in with Ruffnote
  %h3 Cancel my account
  %p Unhappy?
  %form
    %input.btn.btn-danger{"data-confirm" => "Are you sure?", :type => "submit", :value => "Cancel my account"}/
